.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%;
  position: relative;
  z-index: 2; 
  backdrop-filter: blur(5px); 
  transition: transform 0.3s ease; 
}

.project-card:hover {
  transform: translateY(-5px); 
}
  
 .project-card img{
    align-items: center;
    width: 100%;
    height: 40%;
    object-fit: cover;
    font-size: large;
    color: white;
    font-family:'Courier New', Courier, monospace;
    
  }
  
  .project-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .project-description {
    color: #666;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .project-technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .tech-tag {
    color: white;
    background-color: #0d5cf9;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
  }
  
  .project-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .project-links a {
    color: #2707dc;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }