.contact h2 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
  }
  
  .contact-content {
    position: absolute;
    top: 15%;
    left: 10%;
    padding: 30px;
    background-color: rgb(213, 126, 13);
    border-radius: 10px;
    z-index: 1;
    width: 400px;
  }
  
  .contact-details h1 {
    font-size: large;
    font-weight: bold;
    color: white;
    margin: 10px 0;
  }
  
  .contact-details span {
    font-weight: normal;
    color: rgb(242, 239, 239);
    float:right;
  }
  
  .contact img {
    position: relative;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  
  .User-form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    width: 500px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: medium;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 15px;
    font-size: large;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
  }
  
.submit-btn:hover {
    background-color: darkred;
  }
  
